body {
	font-family: monospace;
}

table {
	text-align: center;
	border-collapse: collapse;
}

table > tbody > tr:nth-child(odd) {
	background-color:#F0FFFF;
}

table > tbody > tr:nth-child(even) {
	background-color:#E8FFFF;
}

td, th {
	border:  1px solid #CCFFFF;
}

th {
	font-size: 1.1em;
}

h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}

p#back {
	margin-top: 0;
	padding-top: 0;
}

td, th {
	padding: 0.5em 0.7em;
}

a {
	color: #002266;
}

a:visited {
	color: #002266;
}

*[title] > span, span[title] {
	border-bottom: 1px dotted black;
}

span.pool {
	display: inline-block;
	padding-left: 0.7em;
	padding-right: 0.7em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}

p.warning, p.notice {
	border: 1px solid red;
	background-color: rgba(255, 80, 0, 0.4);
	text-align: center;
	padding: 1em;
}

p.notice {
	border-color: yellow;
	background-color: rgba(255, 255, 0, 0.4);
}

td.inout {
	padding: 0;
}

td.inout > table {
	width: 100%;
}

td.inout tr {
	background-color: rgba(255, 255, 255, 0) !important;
}

td.inout > table td {
	border: 0;
}

td.inout > table td.addr {
	text-align: left;
	padding-right: 0;
}

td.inout > table td.addr:after {
	content: ":";
}

td.inout > table td.amount {
	padding-left: 0;
	text-align: right;
}

td.inout > table td.amount:before {
	content: " ";
}

td.inout > table tr {
	border-top: 1px solid #D8FFFF;
}

td.inout > table tr:first-child {
	border-top: none;
}

span.bz {
	color: #BBB;
}

span.p_next {
	display: inline-block;
	float: right;
}

span.p_prev {
	display: inline-block;
	float: left;
}

a.p, strong.p {
	display: inline-block;
	width: 3em;
	text-align: center;
	border: 1px solid white;
}

strong.p {
	border: 1px solid black;
}

a.p:hover {
	border: 1px solid #888;
}

h2#factoid {
	display: inline-block;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2#factoid:after {
	content: ": ";
	font-size: 0.8em;
}

h2#factoid + p {
	padding-left: 0.5em;
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
}

ol#factoids li {
	margin-top: 0.3em;
	margin-bottom: 0.7em;
}

table#psize-pie-chart {
	text-align: left;
	width: auto;
}

table#psize-pie-chart td {
	border: none;
}

table#psize-pie-chart ul {
	list-style-type: none;
}

table#psize-pie-chart ul > li > span {
	font-size: 1.2em;
}

